* {
    margin: 0;
    padding: 0;
}

.page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#321249;
    font-family: 'Roboto',sans-serif; 
}

.cabecalho-pagina{
    background-color:#270f38;
}

.cabecalho-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    padding: 15px 15px; 
}

.links{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-weight: bolder;
    padding: 0 20px;
}

.links:hover{
    color: crimson;
}

.conteudo-pagina{
    flex-grow: 1;
    background-color:#321249;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    row-gap: 15px;
    
}
.card-principal{
    display: grid;
    justify-items: start;
    padding: 2px 50px;
}

.card-secundario{
    display: grid;
    justify-items: center;
}

.card-terceiro{
    display: grid;
    justify-items: end;
    padding: 2px 50px;
}

.titulo-card{
    color: #914cc5;
    font-size: 30px;
    padding: 10px 0;
}

.texto-card{
    font-size: 15px;
    color: white;
    padding: 10px 0;
}

.img-card-blackjack{
    width: 350px;
    height: 230px;
    box-shadow: 2px 2px 5px 5px #450a54;
}

.img-card-mentalist{
    width: 180px;
    height: 300px;
    box-shadow: 2px 2px 5px 5px #450a54;
}

.img-card-resenha{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px 5px #450a54;
}

.botao-card{
    width: 120px;
    height: 40px;
    border-radius: 2em;
    border: 2px solid black;
    background-color: orange;
    color: black;
    font-weight: bold;
}

.botao-card:hover{
    background-color: rgb(214, 121, 0);
}

.botao-card:active{
    background-color: rgb(224, 94, 7);
}

.rodape-pagina{
    background-color: #3a1455 ;
}

.card-redes-sociais{
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.link-redes-sociais{
    padding: 10px 10px;
}