*{
    margin: 0;
    padding: 0;
}
.page-container{
    font-family: 'Roboto', sans-serif;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 20vh;
    background-color: rgb(2, 83, 88);
}

.link-cabecalho, .link-conteudo{
    text-decoration: none;
    color: black;
}

.link-cabecalho:hover{
    color: brown;
}

#busca{
    width: 25vw;
    height: 5vh;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(207, 233, 235);
}

.card-video{
    border: 1px outset black;
    box-shadow: 1px 1px 2px 2px darkgrey;
    width: 20vw;
    height: 28vh;
    margin: 20px 20px;
    background-color:rgb(232, 236, 236)
}

.img-midia{
    width: 20vw;
    height: 20vh;
}

.subtitulo-card{
    text-align: center;
    padding-top: 10px;
}

.rodape{
    height: 8vh;
    background-color: rgb(2, 83, 88);
    text-align: center;
    padding-top: 5vh;
}

/*ESTILIZAÇÃO APENAS DA CONTEUDO DAS PAGINAS DOS VIDEOS */
.titulo-video{
    padding: 5vh;
    text-align: center;
}

.conteudo-video {
    background-color: rgb(207, 233, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.video{
    width: 60vw;    
}

@media screen and (min-device-width: 320px) and (max-device-width: 520px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    #busca{
        width: 50vw;
        height: 3vh;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-video{
        display:flex;
        flex-direction: column;
        width: 70vw;
        height: 26vh;
    }

    .subtitulo-card{
        font-size: 0.9rem;
    }

    .img-midia{
        width: 70vw;
        height: 20vh;
    }

    .subtitulo-rodape{
        font-size: 2vh;
    }

    .rodape{
        height: 3vh;
    }
    
    .conteudo-video{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .video{
        width: 90vw;
    }
}

@media screen and (min-device-width: 521px) and (max-device-width: 800px) {
    .cabecalho{
        height: 10vh;
    }
    
    #busca{
        width: 30vw;
        height: 3vh;
    }

    .conteudo{
        display: grid;
        grid-template-columns: 1fr 1fr
    }

    .card-video{
        width: 40vw;
    }

    .img-midia{
        width: 40vw; 
    }

    .video{
        width: 90vw;
        height: 50vh;
    }

    .conteudo-video{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1100px){
    .cabecalho{
        height: 10vh;
    }

    #busca{
        width: 30vw;
        height: 3vh;
    }

    .conteudo{
        grid-template-columns: 1fr 1fr;
    }

    .card-video{
        width: 36vw;
        height: 25vh;
    }

    .img-midia{
        width: 36vw;
    }

    .rodape{
        height: 3vh;
    }

    .video{
        width: 90vw;
        height: 50vh;
    }

    .conteudo-video{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}