*{
    margin: 0;
    padding: 0;
}
.page-container{
    font-family: 'Roboto', sans-serif;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 20vh;
    background-color: rgb(2, 83, 88);
}

.link-cabecalho, .link-conteudo{
    text-decoration: none;
    color: black;
}

.link-cabecalho:hover{
    color: brown;
}

#busca{
    width: 15vw;
    height: 5vh;
}

.conteudo{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(207, 233, 235);
}

.card-video{
    border: 1px outset black;
    box-shadow: 1px 1px 2px 2px darkgrey;
    width: 20vw;
    height: 28vh;
    margin: 20px 20px;
    background-color:rgb(232, 236, 236)
}

.img-midia{
    width: 20vw;
    height: 20vh;
}

.subtitulo-card{
    text-align: center;
    padding-top: 10px;

}

.rodape{
    height: 10vh;
    background-color: rgb(2, 83, 88);
    text-align: center;
    padding-top: 5vh;
}

/*ESTILIZAÇÃO APENAS DA CONTEUDO DAS PAGINAS DOS VIDEOS */
.titulo-video{
    padding: 5vh;
    text-align: center;
}

.conteudo-video {
    background-color: rgb(207, 233, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.video{
    width: 60vw; 
    
}