* {
    margin: 0;
    padding: 0;
}

#page-flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

header{
    height: 100px;
    background-color: mediumvioletred;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-header{
    height: 20px;
    width: 20px;
}

.titulo-header{
    font-size: 25px;
}

button{
    width: 50px;
    height: 20px;
    border-radius: 2px;
}

main{
    flex-grow: 1;
    display: flex;
}

nav{
    width: 450px;
    background-color: #f2d0e0;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-produtos{
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px darkgray;
}

.titulo-produto{
    text-align: center;
    padding: 5px 0;
}

.descricao-produto{
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}

.img-menu{
    width: 20px;
    height: 20px;
}

.img-produtos{
    width: 230px;
    height: 230px;
}

.menu-links{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-img-descricao{
    width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding-left: 20px;
}

footer{
    height: 100px;
    background-color: mediumvioletred;
    padding: 10px 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}