* {
    margin: 0;
    padding: 0;
}

#page-flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

header{
    height: 100px;
    background-color: mediumvioletred;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-header{
    height: 20px;
    width: 20px;
}

.titulo-header{
    font-size: 25px;
}

button{
    width: 50px;
    height: 20px;
    border-radius: 2px;
}



main{
    flex-grow: 1;
    display: flex;
}

nav{
    width: 450px;
    background-color: #f2d0e0;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.img-menu{
    width: 20px;
    height: 20px;
}

.img-produtos{
    width: 220px;
    height: 220px;
}

footer{
    height: 100px;
    background-color: mediumvioletred;
    padding: 10px 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}