*{
    margin: 0;
    padding: 0;
}

.page-container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100px;
    background-color: rgb(224, 160, 99);
}

.link-cabecalho, .link-conteudo{
    text-decoration: none;
    color: black;
}

.link-cabecalho:hover, .link-conteudo:hover{
    color: brown;
}

#busca{
    width:200px;
    height: 30px;
    margin-right: 100px;
}
.card-video{
    height: 220px;
    box-shadow: 1px 1px 2px 2px darkgrey;
    background-color: rgb(187, 148, 113);
    text-align: center;
}

.subtitulo-card{
    padding: 20px 10px;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    padding: 50px 20px;
    background-color: rgb(247, 230, 215);
}

.img-midia{
    height: 150px;
    width: 230px;
}

.rodape{
    height: 60px;
    background-color: rgb(224, 160, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*ESTILIZAÇÃO APENAS DA CONTEUDO DAS PAGINAS DOS VIDEOS */
.titulo-video{
    padding: 30px;
    text-align: center;
    
}

.video{
    width: 800px; 
    margin: 0 250px;
}

